div
{border: 5px solid darkcyan;
border-radius: 6px;
padding:20px;
font-family:Cosmicsansms;
}
.article1
{border: 2px solid blueviolet;
border-radius: 6px;
background: powderblue;
text-align: justify;
margin: 10px;
padding: 1em;}

.article2 {
	border: 2px solid palevioletred;
	border-radius: 6px;
	text-align: justify;
	margin: 10px;
	padding: 1em;
}